@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
* {
  font-family: 'Asap', sans-serif !important;
  font-optical-sizing: auto;
}

main option select {
  padding: 0 !important;
}

/* sort dropdown style */
#itemNumber,
#sort {
  padding: 5px 30px 5px 10px;
  border: none;
  background-color: #f1f3f5;
  border-radius: 3px;
}

/* Range custom CSS */
.css-7o8aqz-MuiSlider-rail {
  color: #4444;
}
.css-188mx6n-MuiSlider-root {
  color: #ef4a23 !important;
  height: 8px !important;
}

/* Box shaodow */
.single_box {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

/* Brand sort CSS */
.css-eqpfi5-MuiAccordionSummary-content.Mui-expanded {
  margin: 12px 0 0 0 !important;
  font-size: 16px !important;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 6px 6px 6px 9px !important;
}
.css-j204z7-MuiFormControlLabel-root:hover {
  background: #f1f3f5;
  border-radius: 5px;
}

.css-1q57rbr-MuiTypography-root {
  font-family: 'Asap' !important;
  font-size: 13px !important;
  border-radius: 5px;
}

.accor-heading {
  font-size: 17px !important;
}

.rd {
  background-color: #00000015;
}
